extends admin_base

block content
  h1= title
  p= message
  |
  p
    a( href='/admin/jobs') Manage Job Postings
    | #{|}
    a( href='/admin/companies') Manage Companies

  section#stats
    //- shows stuff like # of companies, job posts, current users, applications submited
    //- colourful gradient rounded corner rectangles like the apple info graphics

  section#actions
    a( href='/admin/jobs') Manage Job Postings
    |
    a( href='/admin/companies') Manage Companies


