extends layout

include datatables

append style
  link(rel='stylesheet' type='text/css' href="/stylesheets/dashboard.css")
  link(rel='stylesheet' type='text/css' href="http://fonts.cdnfonts.com/css/habibi")

append scripts
  script.
    $(document).ready( function () {
      $('#job_postings').DataTable();
    });

block content
  h1= title
  table#job_postings.table.table-striped
    thead
        th Id
        th Job Title
        th Organization
    tbody
      for job in postings
        tr
          td #{ job.id }
          td
            a(href='/career/job/'+job.id) #{ job.job_postings[0].title }
          td #{ job.name }
