extends layout

append style
  link(rel='stylesheet' type='text/css' href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css")
  link(rel='stylesheet' type='text/css' href="/stylesheets/dashboard.css")
  link(rel='stylesheet' type='text/css' href="http://fonts.cdnfonts.com/css/habibi")

append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script(src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js")
  script.
    $(document).ready( function () {
      $('#job_postings').DataTable();
    });

block content
  h1= title
  table#job_postings.display
    thead
        th Id
        th Job Title
        th Organization
    tbody
      for job in postings
        tr
          td #{ job.id }
          td
            a(href='/career/job/'+job.id) #{ job.job_postings[0].title }
          td #{ job.name }

  a(href="/") Back to Dashboard