extends layout

block content
  //- name, some compnay details, the contact and their details(prob can be another pug template), list of job offerings
  h1= title
  section#company
    p Placeholder for company details

    section#company_contact
      p Placeholder for

  section#posted_jobs
    p Placeholder for table of listed position

