append style
  link(rel='stylesheet', type='text/css' href='https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css')

append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script(src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js")
  script(src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js")