section.container
  button(type='button' data-bs-toggle='modal' data-bs-target='#new-post-form').btn.btn-primary Add post

section(tabindex='-1')#new-post-form.modal.fade
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5#new-post-col-form-label.modal-title New Jop Post
        button(type='button' data-bs-dismiss='modal' aria-lable='Close').btn-close

      div.modal-body
        form(action="/admin/job/create" method="POST")#job-form
          input(type='hidden' name='id' value='')#job_id
          div#mb-3
            label(for="title").form-label Job Title
            input(type="text" name='title' required)#title.form-control

          div#mb-3
            label(for="org").form-label Organization
            select(name='companyId' required)#org.form-select
              option(value="")#org_op Pick an Organization
              for company in companies
                option(value=company.id) #{company.name}

          div#mb-3
            label(for="deadline").form-label Application Deadline
            input(type="datetime-local" name='deadline' step='1' required)#deadline.form-control

          div#mb-3
            label(for="description").form-label Job Description
            textarea(rows='3' name='description' required)#description.form-control
      div.modal-footer
          button(type='button' data-bs-dismiss='modal').btn.btn-secondary Close
          button(type='submit' form='job-form').btn.btn-primary Submit