extends base

block content
  h1= title

  section#stats
    //- shows stuff like # of companies, job posts, current users, applications submited
    //- colourful gradient rounded corner rectangles like the apple info graphics
    div(style="padding: 0.5em; max-width: fit-content; min-width: 100px; min-height: 75px; background-color: lavender; border: 1px solid darkslateblue; border-radius: 0.5em;")
