section(tabindex='-1')#delete_modal.modal.fade
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5#delete_modal-label.modal-title Confirmation
        button(type='button' data-bs-dismiss='modal' aria-lable='Close').btn-close

      div.modal-body
        form(action="/admin/job/delete", method="POST")#delete-form
          input(type='hidden' name='id' value='')#id
          label.form-label Delete the following job post:
          input(type='text' disabled)#title.form-control

      div.modal-footer
          button(type='button' data-bs-dismiss='modal').btn.btn-secondary Cancel
          button(type='submit' form='delete-form').btn.btn-danger Delete