extends base

include ../datatables
include tinymce

append scripts
  script(src="/javascripts/manage_jobs.js" defer)
  script.
    $(document).ready( function () {
      $('#job_postings').DataTable();

      tinymce.init({
        selector: '.tiny',
        menubar: false
      });

    });

block content
  h1= title

  include create_job_modal
  include update_job_modal
  include delete_confirm_modal

  +delete_confirm_modal('/admin/job/delete', 'Job Post')

  section.container.mt-5
    table#job_postings.table.table-striped
      thead
          th Id
          th Job Title
          th Organization
          th Edit
          th Delete
      tbody
        for job in job_posts
          tr
            td #{ job.id }
            td
              a( href='/admin/job/'+job.id) #{ job.title }
            td #{ job.company.name }
            td
              a.btn.btn-primary( role='button' data-bs-toggle='modal' data-bs-target='#update-modal' job_id=job.id) Edit
            td
              a.btn.btn-danger( role='button' data-bs-toggle='modal' data-bs-target='#delete_modal' job_title=job.title job_id=job.id) Delete
