extends base

include ../datatables

append scripts
  script.
    $(document).ready( function () {
      $('#job_postings').DataTable();
    });

block content
  h1= title

  include job_post_form

  section.container.mt-5
    table#job_postings.table.table-striped
      thead
          th Id
          th Job Title
          th Organization
          th Edit
          th Delete
      tbody
        for job in job_posts
          tr
            td #{ job.id }
            td
              a( href='/career/job/'+job.id) #{ job.title }
            td #{ job.company.name }
            td
              a.btn.btn-primary( role='button') Edit
            td
              a.btn.btn-danger( role='button') Delete

  footer
    a( href="/admin") Back to Dashboard
