body {
  /* padding: 50px; */
  /* font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; */
}

.navbar-custom {
  background: #efeded;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #a6192e;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #a6192e;
  font-weight: bold;
}

.sfu-theme {
  color: #a6192e !important;
}

a {
  color: #00b7ff;
}
