body {
  /* padding: 50px; */
  /* font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; */
}

.navbar-custom {
  background: #efeded;
}

.sfu-theme {
  color: #a6192e !important;
}

a {
  color: #00b7ff;
}
