nav.navbar.navbar-expand-sm.navbar-light.navbar-custom
  .container-fluid
    a.navbar-brand(href='#') ourExperience 
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.navbar-nav
          a.nav-link.sfu-theme(aria-current="page" href="#") Homepage
        li.navbar-nav
          a.nav-link.sfu-theme(href="#") Job Postings
        li.navbar-nav
          a.nav-link.sfu-theme(href="#") Mail
        li.navbar-nav
          a.nav-link.sfu-theme(href="#") Calendar 
        li.navbar-nav
          a.nav-link.sfu-theme(href="#") Profile 
      ul.navbar-nav.ms-sm-auto
        li.navbar-nav
          a.nav-link.sfu-theme(href="#") Logout   

        